<% if @tag=@stereo.tag_list.any? %>
  <h3>
  <% @stereo.tag_list.each do |tag| %>
    <%= link_to tag, stereos_path(tag: tag) %>
  <% end %>
  </h3>
<% end %>
<img src="/stereos/<%= @stereo.uuid %>.gif" width="640"/>
