<%= form_for @pic, url: pics_path, html: { multipart: true } do |form| %>
  <%= label_tag :uuid %>
  <%= text_field_tag :uuid %><br />

  <%= label_tag :pic_count %>
  <%= text_field_tag :pic_count %><br />

  <%= label_tag :effect %>
  <%= text_field_tag :effect %><br />

  <%= form.file_field :file %>
  <%= submit_tag 'Save' %>
<% end %>
